<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.yeb.mapper.AdminRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yy.yeb.pojo.AdminRole">
        <id column="id" property="id" />
        <result column="adminId" property="adminId" />
        <result column="rid" property="rid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, adminId, rid
    </sql>


    <!--用户的角色数量-->
    <select id="countAdminRoleByAdminId" parameterType="int" resultType="java.lang.Integer">
        SELECT
	        count( 1 )
        FROM
	        t_admin_role
        WHERE
	        adminId = #{adminId}
    </select>
    <!--删除该用户的所有角色-->
    <delete id="deleteAdminRoleByAdminId" parameterType="int">
        DELETE
        FROM
	        t_admin_role
        WHERE
	        adminId = #{adminId}
    </delete>

    <!--添加角色-->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO t_admin_role(adminId, rid) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.adminId},#{item.rid})
        </foreach>
    </insert>


</mapper>
