<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.yeb.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yy.yeb.pojo.Department">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="parentId" property="parentId" />
        <result column="depPath" property="depPath" />
        <result column="enabled" property="enabled" />
        <result column="isParent" property="isParent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, parentId, depPath, enabled, isParent
    </sql>
<!--    <insert id="addDepartment">-->

<!--        insert into t_department (-->
<!--        <include refid="Base_Column_List">-->
<!--        </include>)-->
<!--        values (#{id},#{name},#{parentId},#{depPath},#{enabled},#{isParent})-->
<!--    </insert>-->
<!--    <select id="queryAllDepartment" resultType="com.yy.yeb.pojo.Department">-->
<!--        select * from t_department-->
<!--    </select>-->
    <insert id="addDepartment">

        insert into t_department (
        <include refid="Base_Column_List">
        </include>)
        values (#{id},#{name},#{parentId},#{depPath},#{enabled},#{isParent})
    </insert>
    <delete id="deleteDepartmentById">
        delete from t_department where id=#{id}
    </delete>
    <select id="queryAllDepartment" resultType="com.yy.yeb.pojo.Department">
        select * from t_department
    </select>
    <select id="getdepartmentByName" resultType="com.yy.yeb.pojo.Department">
        select * from t_department where name =#{name}
    </select>
    <select id="getNumByEmpDepId" resultType="java.lang.Integer">




    </select>

</mapper>
