<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.yeb.mapper.EmployeeMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yy.yeb.pojo.Employee">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="birthday" property="birthday" />
        <result column="idCard" property="idCard" />
        <result column="wedlock" property="wedlock" />
        <result column="nativePlace" property="nativePlace" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="engageForm" property="engageForm" />
        <result column="tiptopDegree" property="tiptopDegree" />
        <result column="specialty" property="specialty" />
        <result column="school" property="school" />
        <result column="beginDate" property="beginDate" />
        <result column="workState" property="workState" />
        <result column="workID" property="workID" />
        <result column="contractTerm" property="contractTerm" />
        <result column="conversionTime" property="conversionTime" />
        <result column="beginContract" property="beginContract" />
        <result column="endContract" property="endContract" />
        <association property="nationName"  javaType="com.yy.yeb.pojo.Nation" >
            <result column="nationName" property="name"/>
        </association>
        <association property="politicsStatusName" javaType="com.yy.yeb.pojo.PoliticsStatus">
            <result column="politicsStatusName" property="name"/>
        </association>
        <association property="departmentName" javaType="com.yy.yeb.pojo.Department">
            <result column="departmentName" property="name"/>
        </association>
        <association property="joblevelName" javaType="com.yy.yeb.pojo.Joblevel">
            <result column="joblevelName" property="name"/>
        </association>
        <association property="positionName" javaType="com.yy.yeb.pojo.Position">
            <result column="positionName" property="name"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, gender, birthday, idCard, wedlock, nativePlace, email, phone, address, engageForm, tiptopDegree, specialty, school, beginDate, workState, workID, contractTerm, conversionTime, notWorkDate, beginContract, endContract, workAge, salaryId
    </sql>


    <!--五表联查员工信息-->
    <select id="selectEmployeeAll" parameterType="com.yy.yeb.base.BaseQuery" resultType="com.yy.yeb.pojo.Employee">
        select
        e.*,
        n.name AS nationName,
        p.name AS politicsStatusName,
        d.name AS departmentName,
        j.name AS joblevelName,
        po.name AS positionName
        from t_employee e
        left join t_nation n on e.nationId = n.id
        left join t_politics_status p on e.politicId = p.id
        left join t_department d on e.departmentId = d.id
        left join t_joblevel j on e.joblevelId = j.id
        left join t_position po on e.posId = po.id
        <where>
            <if test="name != null and name != ''">
                and name like concat(%,#{name},'%')
            </if>
        </where>
    </select>

<!--通过员工名字搜索员工信息-->
    <select id="queryEmployeeByName" parameterType="com.yy.yeb.base.BaseQuery" resultType="com.yy.yeb.pojo.Employee">
        select
        e.*,
        n.name AS nationName,
        p.name AS politicsStatusName,
        d.name AS departmentName,
        j.name AS joblevelName,
        po.name AS positionName
        from t_employee e
        left join t_nation n on e.nationId = n.id
        left join t_politics_status p on e.politicId = p.id
        left join t_department d on e.departmentId = d.id
        left join t_joblevel j on e.joblevelId = j.id
        left join t_position po on e.posId = po.id
        where
            e.name = #{name}
    </select>

<!--    通过员工id删除员工信息-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_employee
        where e.id = #{id}
    </delete>


    <insert id="insert" parameterType="com.yy.yeb.pojo.Employee">
        insert into
    </insert>



</mapper>
